<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>reveal.js</title>

	<link rel="stylesheet" href="dist/reset.css">
	<link rel="stylesheet" href="dist/reveal.css">
	<link rel="stylesheet" href="dist/theme/black.css">

	<!-- Theme used for syntax highlighted code -->
	<link rel="stylesheet" href="plugin/highlight/monokai.css">
</head>

<body>
	<div class="reveal">
		<div class="slides">
			<section>
				<h1>BCSF-Renass Website</h1>
			</section>

			<section>
				<h2>Tech stack summary</h2>
				<ul>
					<li class="fragment">Frontend : HTMX + Templ</li>
					<li class="fragment">Backend : Go + Redis</li>
				</ul>
			</section>
			<section>
				<p>HTMX</p>
				<section><img src="/images/htmx-logo.png" alt="HTMX Logo : High power tools for HTML"></section>
				<section>
					<div>AJAX-Powered Hypermedia Library</div>
					<div>But what does that mean ?</div>
					<ul>
						<li class="fragment">Everything can make HTTP Requests</li>
						<li class="fragment">Responses are HTML not JSON</li>
						<li class="fragment">Responses replace HTML elements</li>
					</ul>
				</section>
				<section>
					<div>Why is it good ?</div>
					<ul>
						<li class="fragment">Less JS</li>
						<li class="fragment">Faster to write</li>
						<li class="fragment">Fewer chances of bugs</li>
						<li class="fragment">Faster to render</li>
					</ul>
				</section>
				<section>
					Small example
					<!-- I had to escape everything for the lining to work -->
					<pre><code data-line-numbers>&lt;!-- /api/loremipsum => <h1>Hello World</h1> --&gt;
						&lt;button
  						hx-get="/api/loremipsum"
  						hx-target="#toFill"
  						hx-on="click"&gt;
  						Fill div !
						&lt;/button&gt;

						&lt;div id="toFill"&gt;&lt;/div&gt;
					</code></pre>

				</section>
				<section>
					<pre><code data-line-numbers>&lt;!-- /api/loremipsum => <h1>Hello World</h1> --&gt;
						&lt;button
  						hx-get="/api/loremipsum"
  						hx-target="#toFill"
  						hx-on="click"&gt;
  						Fill div !
						&lt;/button&gt;

						&lt;div id="toFill"&gt;
							<h1>Hello World</h1>
						&lt;/div&gt;
					</code></pre>
				</section>

			</section>
			<section>
				<h2>Linked image</h2>
				<img src="https://placekittens.com/801/501" alt="adorable kitten">
			</section>
			<section data-background="https://media.giphy.com/media/3oKIPmDhXaieiJE3Sg/giphy.gif">
				<h2>Full Screen Background</h2>
			</section>
		</div>
	</div>

	<script src="dist/reveal.js"></script>
	<script src="plugin/notes/notes.js"></script>
	<script src="plugin/markdown/markdown.js"></script>
	<script src="plugin/highlight/highlight.js"></script>
	<script>
		// More info about initialization & config:
		// - https://revealjs.com/initialization/
		// - https://revealjs.com/config/
		Reveal.initialize({
			hash: true,

			// Learn about plugins: https://revealjs.com/plugins/
			plugins: [RevealMarkdown, RevealHighlight, RevealNotes]
		});
	</script>
</body>

</html>